[submodule "/workspace/ComfyUI/custom_nodes/rgthree-comfy"]
	path = /workspace/ComfyUI/custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy
[submodule "/workspace/ComfyUI/custom_nodes/was-node-suite-comfyui"]
	path = /workspace/ComfyUI/custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui
[submodule "/workspace/ComfyUI/custom_nodes/ComfyUI-Custom-Scripts"]
	path = /workspace/ComfyUI/custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts
[submodule "/workspace/ComfyUI/custom_nodes/ComfyUI_IPAdapter_plus"]
	path = /workspace/ComfyUI/custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus
